@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --orange-text: #f28729;
  --gray-text: #707070;
  --lightgray-bg: #888988;
  --darkgray-bg: #707170;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  display: grid;
  grid-template-areas:
    "selected link link"
    "selected preview options"
    "selected restart restart";
  grid-template-columns: 0.15fr 0.6fr 0.25fr;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1030px) {
  .content {
    grid-template-columns: 0.2fr 1fr 0.5fr;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    grid-template-areas:
      "link link"
      "preview options"
      "preview restart"
      "selected selected";
    grid-template-columns: 1fr 0.7fr;
  }
}

@media only screen and (max-width: 550px) {
  .content {
    grid-template-areas:
      "link"
      "preview"
      "options"
      "restart"
      "selected";
    grid-template-columns: 1fr;
  }
}

/* preview section stylings */
.preview {
  margin: 3rem;
  margin-top: 0;
  grid-area: preview;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

@media only screen and (max-width: 900px) {
  .preview {
    margin: 1rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .preview {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
  }
}

.visualizer {
  grid-column: 2 / span 1;
}

@media only screen and (max-width: 768px) {
  .visualizer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
}

.wrapper {
  position: relative;
  max-width: 400px;
}

@media only screen and (max-width: 550px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}

.preview #back path:hover,
.preview #seat path:hover,
.preview #seat_bottom path:hover {
  cursor: pointer;
  stroke: #333333;
  stroke-width: 5px;
  stroke-dasharray: 2, 1;
  stroke-linejoin: round;
}

#shadow_Image-2,
#shadow_Image,
.layer {
  pointer-events: none;
}

.base {
  max-width: 400px;
}

@media only screen and (max-width: 550px) {
  .base {
    max-width: 300px;
  }
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.hide {
  opacity: 0;
}

.colors_wrapper {
  grid-column: 1 / span 1;
}

@media only screen and (max-width: 768px) {
  .colors_wrapper {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

/* colors wrapper */
.colors {
  margin-top: 6rem;
  padding-left: 4vw;
}

@media only screen and (max-width: 768px) {
  .colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  .colors {
    justify-content: center;
  }
}

.border {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.border.active {
  border: 1px solid #37a0e5;
}

.color {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100%;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .border {
    margin: 0.5rem 0.2rem;
    width: 5vw;
    height: 5vw;
  }

  .color {
    width: 4vw;
    height: 4vw;
  }
}

@media only screen and (max-width: 550px) {
  .border {
    margin: 0.5rem 0.5rem;
    width: 7vw;
    height: 7vw;
  }

  .color {
    width: 6vw;
    height: 6vw;
  }
}

.color[data-color="#41A8BF"] {
  background-color: #41a8bf;
}
.color[data-color="#55CCD9"] {
  background-color: #55ccd9;
}
.color[data-color="#F25244"] {
  background-color: #f25244;
}
.color[data-color="#D96055"] {
  background-color: #d96055;
}
.color[data-color="#d7d6d7"] {
  background-color: #d7d6d7;
}
.color[data-color="#444445"] {
  background-color: #444445;
}

/* utility stylings */
button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  background-color: #ffffff;
  border: 2px solid var(--gray-text);
  border-radius: 2rem;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 1030px) {
  button {
    font-size: 1rem;
    padding: 0.3rem 2rem;
  }
}

/* options_wrapper section stylings */
.options_wrapper {
  grid-area: options;
  margin-right: 3rem;
}

@media only screen and (max-width: 900px) {
  .options_wrapper {
    margin: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .options_wrapper {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  .options_wrapper {
    margin-right: 1rem;
  }
}

.options_header {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 550px) {
  .options_header {
    margin-top: 0;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.feature_icon {
  max-width: 5rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  z-index: 2;
  justify-content: start;
}

.header {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  align-self: center;
  text-transform: capitalize;
  color: var(--orange-text);
  font-size: 1.2rem;
  background-color: var(--darkgray-bg);
  height: 2.5rem;
  border-radius: 2rem;
  margin: 0 2rem;
  padding-left: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1030px) {
  .header {
    font-size: 1rem;
    height: 2rem;
  }

  .feature_icon {
    max-width: 4rem;
  }
}

/* @media only screen and (max-width: 550px) {
  .header {
    margin-left: 4rem;
    padding-left: 0;
  }

  .feature_icon {
    align-self: end;
  }
} */

.options {
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 500px;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

@media only screen and (max-width: 1030px) {
  .options {
    font-size: 0.8rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .options {
    max-width: calc(10rem + 7vw);
    margin-left: auto;
    margin-right: auto;
  }
}

.options .option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: #aaa;
  position: relative;
  margin: 0.5rem;
}

.options .option:hover {
  cursor: pointer;
}

.options .option.chosen {
  color: #000;
}

.options .option img {
  max-width: 2em;
  height: auto;
}

.options .option .extra {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

/* selected section stylings */
#selected {
  grid-area: selected;
  background-color: var(--lightgray-bg);
  display: flex;
  flex-direction: column;
  padding-left: calc(1rem + 1vw);
  padding-right: calc(1rem + 1vw);
}

@media only screen and (max-width: 768px) {
  #selected {
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 0;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
  }

  .selected_colors {
    width: calc(5rem + 3vw);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

#selected .color {
  border: none;
}

.selected_colors #selected .color {
  width: 2vw;
  height: 2vw;
  border: none;
}

@media only screen and (max-width: 768px) {
  #selected .color {
    width: 3vw;
    height: 3vw;
  }
}

@media only screen and (max-width: 550px) {
  #selected .color {
    width: 4vw;
    height: 4vw;
  }
}

.selected_color {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  justify-content: space-between;
}

.selected_color span {
  color: #3b3b3b;
}

@media only screen and (max-width: 1030px) {
  #selected span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 550px) {
  #selected span {
    margin-left: 1rem;
  }
}

h1 {
  color: #3b3b3b;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

@media only screen and (max-width: 1030px) {
  h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    display: none;
  }
}

/* .selected_chair {
  max-width: 200px;
  height: auto;
} */

#selected ul {
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #selected ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
    align-items: center;
  }
}

#selected ul li {
  display: flex;
  color: #3b3b3b;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  #selected ul li {
    margin-left: 1.5rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  #selected ul li {
    margin-bottom: 0.5rem;
  }
}

#selected ul li span {
  margin-left: 1rem;
}

#selected ul li img {
  max-width: 3em;
}

@media only screen and (max-width: 1030px) {
  #selected ul li img {
    max-width: 2em;
  }
}

#save {
  background-color: var(--darkgray-bg);
  color: var(--orange-text);
  margin-top: 4rem;
  align-self: center;
}

@media only screen and (max-width: 1030px) {
  #save {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  #save {
    border-radius: 0;
    margin: 0;
    margin-left: auto;
    justify-self: end;
    height: 100%;
    font-size: calc(0.8rem + 1vw);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* link_wrapper section stylings */
.link_wrapper {
  grid-area: link;
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .link_wrapper {
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  .link_wrapper {
    justify-content: center;
    margin-right: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

.link_container {
  border: 2px solid var(--orange-text);
  border-radius: 2rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  height: 2rem;
  box-sizing: content-box;
}

@media only screen and (max-width: 900px) {
  .link_container {
    width: calc(15rem + 20vw);
  }
}

@media only screen and (max-width: 550px) {
  .link_container {
    height: 1.5rem;
    width: 100%;
  }
}

#link_button {
  background-color: var(--darkgray-bg);
  color: var(--orange-text);
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 900px) {
  #link_button {
    padding: 0.3rem 1rem;
  }
}

@media only screen and (max-width: 550px) {
  #link_button {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

input#link_output {
  border: none;
  outline: none;
  width: calc(10rem + 25vw);
  border-radius: 2rem;
  font-family: "Open Sans", sans-serif;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 1030px) {
  input#link_output {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  input#link_output {
    width: 100%;
  }
}

#copy_link {
  padding: 0.5rem 1rem;
  border-radius: 2.1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copy_link img {
  max-width: 1.3rem;
}

@media only screen and (max-width: 550px) {
  #copy_link img {
    max-width: 0.8rem;
  }
}

/* restart section stylings */
.restart {
  grid-area: restart;
  margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
  .restart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 550px) {
  .restart {
    display: block;
    margin: 2rem 0;
  }

  #restart {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Animation */
.animate-feature {
  animation: animate-feature_kf 2s ease-in-out 1 forwards;
}

@keyframes animate-feature_kf {
  0% {
    transform: translate(var(--deltaX), var(--deltaY));
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  100% {
    transform: none;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
